*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    /* background-color: #98B0D4; */
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

.wrapper {
  /* display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  row-gap: 40px; */

  display: flex;
  flex-direction: column;
  gap: 20px;

  /* padding: 0px 2px; */
  /* overflow: hidden; */
  /* max-width: 800px; */
}

html, body {
  /* overflow-y: hidden; */
  /* width: 100%; */
  overflow-x  : hidden;
}

header {
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  
  padding: 0 50px;
}




.header-background-design {
  position: absolute;
  z-index: -1;
  width: 100%;
  
  /* overflow: hidden; */
  min-height: 360px;
  /* background-color: rgb(9,145,179); */
  background-color: #E09A41;
  transform: rotate(-6deg) scaleX(4) scaleY(1.3);
  transform-origin: bottom left;
  box-shadow: 0px 5px 7px -1px #CECECE;
}

.header-container {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}




.header-profile-image, .header-content-image {
  background-image: url(images/daft_punk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-width: max(250px, min(300px, calc(100vw - 400px))); */
  min-width: 300px;
  min-height: 300px;
  box-shadow: 5px 5px 9px -4px #000000ae;
  display: flex;
  align-items: flex-end;
  justify-content: center;
} 

.header-content-image {
  display: none;
}



.profile-title {
  font-size: 3rem;
  font-family: "Playfair Display", Helvetica, sans-serif;
  color: white;
  letter-spacing: 1px;
}

.header-profile-content {
  background-color: white;
  min-height: min-content;
  box-shadow: 0px 5px 7px -1px #989797ae;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
}



.profile-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 900px) {
  /* .header-container {
    display: block;
  } */

  .header-profile-image {
    /* position: absolute;
    float: left; */
    display: none;
  }

  .header-profile-content {
    display: block;
  }

  .header-content-image {
    /* position: absolute; */
    position: relative;
    /* top: -10px; */
    /* left: -10px; */
    display: flex;
    float:left;
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
    margin: 1px;
    transform-origin: bottom right;
    transform: scale(2);
  }

  .profile-body {
    display: block;
  }

  .profile-title {
    font-size: 1rem;
  }

  header {
    margin: 50px 30px 0px 50px;
  }
}

@media (max-width : 560px) {
  .header-container {
    flex-direction: column;
  }

   /* .header-container {
    display: block;
  } */

  .header-profile-image {
    /* position: absolute;
    float: left; */
    display: flex;
  }

  .header-profile-content {
    display: flex;
  }

  .header-content-image {
    display: none;
  }

  .profile-body {
    display: flex;
  }

  .profile-title {
    font-size: 3rem;
  }

  .header {
    margin: 0px;
  }
}

.content-title {
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1.8rem;
}

.content-body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  color: #575655;
}

#profile-icon {
  min-height: 25px;
}

.icon-container {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  max-height: 20px;
  max-width: 20px;
}

.icon:first-child {
  max-height: 24px;
  max-width: 24px;
}


.main-body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  /* align-items: center; */
  padding: 10px 50px;
  max-width: fit-content;
  row-gap: 5px;
  align-self: center;
}

@media (max-width: 1000px) {
  .main-body {
    max-width: 100%;
    align-self: normal;
  }
}

.main-body-title {
  font-size: 1.6rem;
  font-family: "Playfair Display", Helvetica, sans-serif;
  /* align-self:  center; */
  /* width: 1020px; */
  /* min-width: 300px; */
}

.main-body-cards {
  display: grid;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 60px;
  row-gap: 30px;
  max-width: 1020px;
  width: 100%;
}



.card {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 4px 4px 13px -4px #999999;
}

.card-image {
  min-height: 200px;
  background-color: #9E1D1D;
}

#get-lucky {
  background-image: url(images/Get_Lucky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-title-bar {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}

.card-title {
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 19px;
}

#card-icons {
  /* border: 1px solid black; */
  min-height: 20px;
  min-width: 20px;
}

.card-content {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 10px;
  padding: 0px 5px;
}

footer {
  background-color: rgb(9,145,179);
  display: flex;
  padding: 20px 50px;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-grow: 1;
  max-width: 1020px;
}

.contact-information {
  /* border: 1px solid black */
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding-right: 10px;
  font-family: 'Roboto';
}

.contact-information .contact-me {
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 2rem;
}

.contact-information .contact-description {
  font-size: 14px;
}

.contact-address {
  font-size: 14px;
}

.contact-number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.phone-logo img{
  min-height: 18px;
  min-width: 18px;
  
}

.contact-image {
  flex-grow: 1;
  background-image: url("images/daft_punk_footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 230px;
  /* background-color: green;
  border: 1px solid black; */
}

@media (max-width: 560px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-image {
    min-height: 200px;
  }
}

#contact-logos {
  justify-content: flex-start;
}

